:root {
    font-size: 16px;
    font-family: sans-serif;
    --color1: #00A8FF;
    --color2: #0097E6;
    --color3: #F9CA24;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}

#wrap {
    width: 100vw;
}

.judul {
    font-size: 2rem;
    font-weight: bold;
}


/* HEADER */
#header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
    color: #fff;
}

#v_header2, #v_header3 {
    position: absolute;
    z-index: 0;
}

#v_header2 {
    top: 50%;
    left: 50%;
    transform: translate(-10%, -70%);
}

#v_header3 {
    bottom: 0;
}

#wrap_headline {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5rem;
    z-index: 1;
    margin-right: 1rem;
}

#wrap_headline div {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#judul {
    font-size: 3rem;
    font-weight: bold;
}

#subjudul {
    font-size: 1.6rem;
}

#btn_pilihpaket button {
    padding: 0.7rem;
    color: #fff;
    background-color: var(--color3);
    border: 0;
    border-radius: 10px;
    font-size: 1.4rem;
    cursor: pointer;
}

#wrap_vheader1 {
    z-index: 1;
}

#wrap_vheader1_mobile {
    display: none;
}
/* END HEADER */

/* PROBLEM */

#problem {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 2rem;
}

#wrap_judulproblem {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#wrap_isiproblem {
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
    padding-right: 7rem;
}

.wrap_isiproblem {
    display: flex;
}

.isi_problem {
    display: flex;
    width: 50%;
    margin: 1rem;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.wrap_vproblem {
    display: flex;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.wrap_deskproblem {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 1.3rem;
}

/* END PROBLEM */


/* SOLUSI */

#solusi {
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    color: #fff;
}

#wrap_judulsolusi, #wrap_logosolusi, #wrap_desksolusi {
    text-align: center;
    padding: 2rem;
}

#wrap_logosolusi img {
    background-color: #fff;
    border-radius: 20px;
}

#wrap_desksolusi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#desk_solusi {
    width: 70%;
}

/* END SOLUSI */

/* FITUR */

#fitur {
    display: flex;
    flex-direction: column;
}

#wrap_judulfitur {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#wrap_isifitur {
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
    padding-right: 7rem;
}

.wrap_isifitur {
    display: flex;
    justify-content: center;
}

.isi_fitur {
    display: flex;
    padding-top: .5rem;
    padding-bottom: .5rem;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.wrap_deskfitur {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.wrap_vfitur img {
    height: 5vw;
}

.judul_deskfitur {
    font-size: 1.2rem;
    font-weight: 600;
}

.isi_deskfitur {
    font-size: .8rem;
}

/* END FITUR */

/* DEMO */

#demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    color: #fff;
    padding-bottom: 2rem;
}

#wrap_juduldemo {
    text-align: center;
    padding: 2rem 0;
}

#wrap_isidemo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 3rem;
}

.isidemo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.imgdemo img {
    display: block;
    width: 100%;
}

.deskdemo {
    text-align: center;
    width: 100%;
    background-color: var(--color2);
    font-size: 2rem;
    padding: .5rem 0;
}

/* END DEMO */

/* HARGA */

#harga {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

#wrap_judulharga {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#wrap_isiharga {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.wrap_paket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    background-color: var(--color1);
}

.wrap_paket:nth-child(2) {
    margin: 0 1rem;
}

.judul_paket {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.harga_paket {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: var(--color3);
}

.isi_paket {
    height: auto;
    padding: 2rem;
    font-size: 1.5rem;
    color: #fff;
}

.isi_paket ul {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.isi_paket ul li {
    padding: 1rem 0;
    list-style: none;
    text-align: center;
}

.coret {
    text-decoration: line-through;
    font-weight: normal;
}

.pesan_paket {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--color3);
    cursor: pointer;
}

/* END HARGA */

/* FAQ */

#faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

#wrap_judulfaq {
    text-align: center;
    padding: 2rem 0;
}

#wrap_isifaq {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0 3rem;
}

.isifaq {
    display: grid;
    grid-template-rows: auto-fit, 1fr;
    text-align: center;
    border-radius: 5px;
}

.faqjudul {
    padding: .5rem 0;
    border-radius: 5px;
    background-color: var(--color3);
}

.faqjawab {
    padding: 1rem 2rem;
    background-color: #f3f3f3;
    height: 20vh;
}

/* END FAQ */

/* KONTAK */

#kontak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

#wrap_judulkontak {
    text-align: center;
    padding: 2rem 0;
}

#wrap_isikontak {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    text-align: center;
    align-items: center;
    gap: 5rem;
    padding: 0 5rem;
}

.isikontak {
    padding: 2rem 0;
    background-color: var(--color2);
    font-size: 2rem;
}

/* END KONTAK */

/* FOOTER */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--color1);
}

/* END FOOTER */

/* MOBILE */
@media (max-width: 768px) {

    /* HEADER */
    #header {
        flex-direction: column;
        align-items: flex-start;
    }
    #v_header2, #v_header3 {
        display: none;
    }
    #wrap_vheader1 {
        display: none;
    }
    #wrap_vheader1_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65%;
    }
    #wrap_vheader1_mobile img {
        width: 90%;
        height: 90%;
    }
    #wrap_headline {
        text-align: center;
        width: 100%;
        height: 35%;
        margin: 0;
    }
    #wrap_headline div {
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
    #judul {
        font-size: 1.5rem;
        font-weight: bold;
    }
    #subjudul {
        font-size: .8rem;
    }
    
    #btn_pilihpaket button {
        width: 80%;
    }
    .wrap_vproblem img {
        width: 30vw;
    }
    /* END HEADER */


    /* PROBLEM */
    #wrap_judulproblem {
        padding: 1.5rem;
    }
    #judul_problem {
        font-weight: bold;
        text-align: center;
        font-size: 1rem;
    }
    #wrap_isiproblem {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .wrap_isiproblem {
        display: flex;
        flex-direction: column;
    }
    .isi_problem {
        width: auto;
    }
    .wrap_deskproblem {
        font-size: .8rem;
    }
    /* END PROBLEM */

    /* SOLUSI */
    #judul_solusi {
        font-size: 1rem;
    }
    #wrap_judulsolusi, #wrap_logosolusi, #wrap_desksolusi {
        text-align: center;
        padding: 1.5rem;
    }
    #wrap_logosolusi img {
        width: 60%;
    }
    #wrap_desksolusi {
        font-size: .8rem;
    }
    #desk_solusi {
        width: 100%;
    }
    /* END SOLUSI */

    /* FITUR */
    #wrap_judulfitur {
        padding: 1.5rem;
    }
    #judul_fitur {
        text-align: center;
        font-size: 1rem;
    }
    .wrap_isifitur {
        flex-direction: column;
    }
    #wrap_isifitur {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .isi_fitur {
        width: 100%;
    }
    .wrap_vfitur img {
        height: 15vw;
    }
    .judul_deskfitur {
        font-size: 1rem;
        font-weight: 600;
    }
    
    .isi_deskfitur {
        font-size: .8rem;
    }
    
    /* END FITUR */

    /* DEMO */
    #wrap_juduldemo {
        padding: 1.5rem;
    }
    #judul_demo {
        /* text-align: center; */
        font-size: 1rem;
    }
    #wrap_isidemo {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .deskdemo {
        font-size: .8rem;
    }
    /* END DEMO */

    /* HARGA */
    #wrap_judulharga {
        padding: 1rem;
    }
    #wrap_isiharga {
        flex-direction: column;
    }
    .wrap_paket {
        width: 100%;
        margin: 1rem 0;
    }
    .wrap_paket:nth-child(2) {
        margin: 0;
    }
    .judul_paket {
        font-size: 1rem;
    }
    .harga_paket {
        font-size: 1.5rem;
    }
    .isi_paket {
        padding: 1rem;
    }
    .isi_paket, .pesan_paket {
        font-size: 1rem;
    }
    /* END HARGA */
    /* FAQ & KONTAK */
    #wrap_judulfaq, #wrap_judulkontak {
        padding: 1.5rem;
    }
    #judul_faq, #judul_kontak {
        font-size: 1rem;
    }
    #wrap_isifaq {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        font-size: .7rem;
    }
    .faqjawab {
        padding: 1rem 1rem;
    }
    .isikontak {
        font-size: 1rem;
    }
    #footer {
        font-size: .8rem;
        text-align: center;
    }
    /* END FAQ % KONTAK */
}

/* 
@media (min-width: 576px) { ... }

// md --- Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// lg --- Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// xl --- Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
